###For more options see: http://boevalab.com/FREEC/tutorial.html#CONFIG ###

[general]
chrLenFile = genome.fa.fai
window = 0
ploidy = 2
outputDir = $SAMPLE/CNV_exome/
BedGraphOutput = FALSE
sex=XY
breakPointType=4
chrFiles =  reference/homo_sapiens.GRCh38.GATK.illumina/chr_files

maxThreads=8

breakPointThreshold=1.2
noisyData=TRUE
printNA=FALSE

readCountThreshold=30

[sample]

mateFile = $SAMPLE/BAMS/$SAMPLE_dedup.mpileup
inputFormat = pileup
mateOrientation = 0

[control]

mateFile = $CONTROL/BAMS/$CONTROL_dedup.mpileup
inputFormat = pileup
mateOrientation = 0


[BAF]

SNPfile = 00-All.vcf.gz

[target]

captureRegions = general/WholeExomeregions_sorted.bed
